//common styles throughout the websites.

$blue: rgba(7, 77, 127, .8);
$orange: rgba(237, 90, 33, .8);
$yellow: #EDBD00;
$red: #930000;
$grey: #E6E8E6;
$black: rgba(0, 0, 0, .7);
$transition: linear .25s;
$box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
$border-style: solid;
$none: 0;


// main font and line height sizes

$font-size: 16px;
$line-height: 24px;

//using this for padding left and right only

$pad: 16px; //
$pad-half: $pad / 2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;

//using this for spacing vertically. Use this variable for margins only!

$space: 24px;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;


* { margin: 0; padding: 0;  box-sizing: border-box;}

html,
body {
width: 100%;
height: 100%;
font-family: Helvetica, "Times New Roman", sans-serif;
font-size: $font-size;
background-color: $grey;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

#match-row1 {
  margin-top: 2rem;
  background-color: $blue;
}

#match-row2 {
  background-color: $blue;
  //margin-top: 2rem;
}

#body-frame {
  max-width: 60rem;
  margin: 0 auto;
  box-shadow: $box-shadow;
}

.card-frame {
  width: 31.25%;
  height: 20rem;
  margin: 1%;
  float: left;
  background-color: $grey;
  border: 2px solid $yellow;

    img.card-front {
      margin: 2rem;
      width: 80%;
      height:80%;
    }

    img.card-back {
      margin: 4rem;
      width: 60%;
      height:60%;
    }
}

.header-block {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  color: $grey;
  background-color: $blue;
  box-shadow: $box-shadow;
}

#how-to-play {
  margin: 0 auto;
  background-color: $blue;
  max-width: 70rem;
  margin-top: 2rem;
  box-shadow: $box-shadow;
}

.rule-card {
  width: 31.25%;
  height: 10rem;
  margin: 1%;
  background-color: $grey;
  float: left;
  border: 2px solid $yellow;
  box-shadow: $box-shadow;

    h2 {
      text-align: center;
      padding-top: .5rem;
      color: $black;
    }

    p {
    padding: .75rem;
    font-size: 1.25rem;
    color: $black;
    line-height: $line-height;
  }
}

.hidden {
  display: none;
}
